@charset "UTF-8";
body {
   font-family: 'Gowun Dodum', sans-serif;
   font-size: 16px;
   color: #333;
}
ul{
	list-style-type:none;
}
.aside-nav{
	list-style-type:none;
}
.left{
	width: 200px;
	padding: 20px 10px 10px 0px;
	margin-top: 30px;
	border-right: 1px solid #999;
	position: fixed;
	height: 100%;
}
.brand{
	margin-left: 15px;
	color: #333;
	font-size: 20px;
	font-weight: bold;
}
.main{
	width: calc(100% - 280px);
	margin-left: 200px;
}
/**** write.jsp ****/
input[type=text],input[type=password]{
	padding: 7px 6px;
	text-align:center;
}
.write-title{
	list-style-type:none;
	margin:0;
	padding:0;
	border:2px solid #333;
	width:100%;
}
.write-title li{
	margin:0;
	padding:0;
	border-bottom:1px solid #ededed;
	
}
.write-title .label{
	font-size:18px;
	font-weight:bold;
	line-height:70px;
	border-bottom:1px solid #ccc;
}
.btn-area .btn {
      margin-left: 15px;
      margin-right: 15px;
      letter-spacing: 15px;
      padding-left: 30px;
      text-align: center;
      font-weight: bold;
}
li.content{
	padding:10px;
}

