@charset "UTF-8";
body {
   font-family: 'Gowun Dodum', sans-serif;
   font-size: 16px;
   color: #333;
}
ul{
	list-style-type:none;
}
.aside-nav{
	list-style-type:none;
}
.left{
	width: 200px;
	padding: 20px 10px 10px 0px;
	margin-top: 30px;
	border-right: 1px solid #999;
	position: fixed;
	height: 100%;
}
.brand{
	margin-left: 15px;
	color: #333;
	font-size: 20px;
	font-weight: bold;
}
.main{
	width: calc(100% - 280px);
	margin-left: 200px;
}